.goHome {
    color: white!important;
}

.area1 {
    margin - top: 90 px;
    text - align: center;
}
.area1 img {
    width: 35 vw;
}
a {
    text - decoration: none;
    color: black;
    font - weight: 700;
}
a: hover {
        color: rgba(187, 0, 0, 0.801);
    }
    .go {
        margin - top: 20 px;
    }


    .area2 {
        margin - top: 60 px;
        text - align: center;
    }
    .area2 img {
        width: 25 vw;
        margin - bottom: 20 px;
    }
    .score {
        color: red;
    }



    .hide {
        margin - top: 60 px;
        margin: 0 240 px;
    }
    .area3 {
        height: 0;
        display: none;
    }
    .hide,
    #time {
        text - align: center;
        cursor: pointer;
        color: gray;
        font - weight: 600;
        font - size: 50 px;
        text - shadow: -1 px 0 black, 0 1 px black, 1 px 0 black, 0 - 1 px black;
    }
    .hide span,
    #time span {
        text - shadow: none;
        font - weight: 900;
        color: rgba(255, 0, 0, 0.712);
    }

    .show {
        display: block;
        height: fit - content;
    }

    .area3 {
        width: 60 vw;
        margin - top: 60 px;
        margin: 0 20 vw;
    }
    .area3 h2 {
        font - weight: 700;
    }
    .area3.best {
        margin - top: 30 px;
        display: flex;
    }
    .area3 img {
        width: 300 px;
    }
    .area3.text {
        margin - top: 25 px;
        margin - left: 20 px;
        width: 600 px;
    }
    .text p {
        font - weight: 700;
    }

    .good1,
    .good2 {
        margin - left: 20 px;
        cursor: pointer;
    }
    .red {
        color: red;
    }


    .area4 {
        text - align: center;
        margin - top: 80 px;
    }
    .area4 h3,
    .area5 h3 {
        color: black;
        text - shadow: none;
        font - weight: 700;
        margin - bottom: 20 px;
    }

    .area5 {
        margin - top: 40 px;
        text - align: center;
        margin - bottom: 30 px;
    }
    .area5.material - icons - sharp {
        font - weight: 700;
        font - size: 28 px;
    }
    .area5 button {
        font - weight: 700;
        font - size: 20 px;
        padding: 5 px 90 px;
        border - radius: 20 px;
        outline: none;
        margin - bottom: 30 px;
        box - shadow: 2 px 2 px 2 px;
    }
    .area5 button: active {
        margin - left: 5 px;
        margin - top: 5 px;
        box - shadow: none;
    }

    .to - top {
        position: fixed;
        bottom: 30 px;
        right: 30 px;
        z - index: 9;
        width: 42 px;
        height: 42 px;
        background - color: rgba(104, 104, 104, 0.863);
        color: #fff;
        border: 2 px solid #fff;
        border - radius: 10 px;
        cursor: pointer;
        display: flex;
        justify - content: center;
        align - items: center;
    }

    .video {
        margin - top: 60 px;
        text - align: center;
    }
    .video p {
        font - weight: 700;
        font - size: large;
        border - bottom: orange double 3 px;
        width: fit - content;
        margin - left: 40 % ;
    }
iframe {
    width: 50 vw;
    height: 30 vw;
}